<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="purchased/css/default.css" />
	<link rel="stylesheet" type="text/css" href="purchased/css/component.css" />
</head>
<body>
<div class="container">
		<!-- Header -->
		<header class="clearfix">
			<h1><a href="<%= root_path %>" class=""><img class="logo" src = "../logo.png"></img></a></h1>
			<h1><img class="motto" src = "../motto.png"></img></h1>
			<nav>
				<a href="/" class="">Home</a>
				<a href="../welcome/about" class="">About</a>
				<a href="../welcome/contact" class="">Contact</a>
				<a href="../welcome/faqs" class="">FAQs</a>
			</nav>
		</header>
		<!-- Header end -->
</div>

<div class="help-text">
	<h1>Purchase Information</h1>
	<div class="about-text">

	<% if @order.campus == "East" %>
	You're on East!

	<% elsif @order.campus == "West" %>
	You're on West!

	<% else %>
	You're on Central!

	<% end %>
	</div>
</div>


</body>