<% if @list.length == 0 %>
	<p>No orders</p>
<% else %>
	<ul>
		<% @list.each do |l| %>
			<li>
				<p><%= l.item.name %></p>
				<p><%= Unit.find(l.item.unit_id).unit_name %></p>
				<p class="quantity"><%= number_field_tag("quantity", l.quantity) %></p>
				<p><%= link_to("Delete", {:action => "delete_relation", :id => l.id}, {:remote => true, :id => "delete_relation"}) %></p>
			</li>
		<% end %>
	</ul>
<% end %>