<% if @list == -1 %>
	<p>No orders</p>
<% else %>
	<ul>
		<% @list.each do |l| %>
			<li>
				<p><%= l.item.name %></p>
				<p><%= l.item.unit %></p>
				<p><%= l.quantity %></p>
				<p><%= l.item.selling_price %></p>
			</li>
		<% end %>
	</ul>
<% end %>