<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="about/css/default.css" />
	<link rel="stylesheet" type="text/css" href="about/css/component.css" />
</head>
<body>
<div class="container">
		<!-- Header -->
		<header class="clearfix">
			<h1><a href="<%= root_path %>" class=""><img class="logo" src = "../logo.png"></img></a></h1>
			<h1><img class="motto" src = "../motto.png"></img></h1>
			<nav>
				<a href="/" class="">Home</a>
				<a href="../welcome/about" class="">About</a>
				<a href="../welcome/delivery_schedule" class="">Delivery Schedule</a>
				<a href="../welcome/contact" class="">Contact</a>
				<a href="../welcome/faqs" class="">FAQs</a>
			</nav>
		</header>
		<!-- Header end -->
</div>

<div class="help-text">
	<h1>ABOUT US</h1>
	<div class="about-text">
	DevilGroceries is a student-run, on-campus grocery delivery service that offers a new alternative to typical Duke dining. As students, we noticed a disappointing lack of fruits, vegetables, and quality foods on campus, often at unreasonable prices that killed our food points. To solve this problem, we are offering a variety of locally purchased food items, many of which you can't get at Duke, at prices well below those on campus. We buy all our fruit, vegetables, and bread locally on the same day as your delivery, so you know your food is fresh. From 12-grain bread and crisp gala apples to S'mores Pop-Tarts and Reese's Puffs, we hope you enjoy our service!
	</div>
</div>


</body>