.checkout-bar .saved-total {
	display: block;
	width: 50%;
	max-width: 50%;
	margin: 0;
}

.checkout-bar .order-total {
	display: block;
	width: 50%;
	max-width: 50%;
	margin: 0;
}

/* General button style (reset) */
.btn {

	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 25px;
	display: inline-block;
	margin: 15px 30px;
	margin-left: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 3 */
.btn-3 {
	background: #006600;
	color: #fff;
}

.btn-3:hover {
	background: #009900;
	color: #fff;
}

.btn-3:active {
	background: #009900;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3a */
.btn-3a {
	padding: 25px 60px 25px 60px;
}

.btn-3a:before {
	background: rgba(0,0,0,0.05);
}



.cart-dropdown {
	height: 90%;
	max-height: 100%;
	width: 75%;
	max-width: 100%;
	border: solid 3px #081e4f;
	opacity: 1;
	background: #fff;
	position: fixed;
	display: none;
	left: 15%;
	#margin-left: -350px;
	z-index: 7777;
	overflow-y: scroll;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.cart-dropdown #cart-hidden {
	display: none;
}

.cart-dropdown > .close_div {
	width: 100%;
	/*width: 73.5%;
	max-width: 73.5%;*/
	padding: 1em;
	#position: fixed;
	display: block;
	border-bottom: solid 3px #081e4f;
	opacity: 1;
	z-index: 9999;
	background-color: #ffffff;
	margin-bottom: 1px;
}

.cart-dropdown > .close_div p {
	margin: 0;
	text-align: right;
}

.cart-dropdown #close-button {
	font-size: 2em;
	color: #1c1c1c;
}

.cart-dropdown #close-button:hover {
	color: #003333;
}

#cart-list .checkout-bar {
	position: relative;
	width: 73.5%;
	max-width: 73.5%;
	background-color: #ffffff;
	#margin-top: -22px;
}

.checkout-bar .order-total {
	color: #dd0000;
	font-size: 30px;
}

.checkout-bar .saved-total {
	font-size: 20px;
}

.cart-dropdown h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 1em;
	color: #081e4f;
}

#cart-list > p {
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 2em auto;
	color: #081e4f;
}

#cart-list > ul {
	width: 100%;
	list-style: none;
	padding: 0;
}

#cart-list ul li {
	width: 100%;
	padding: 5px 0;
	white-space: normal;
	border-bottom: 1px solid;
}

#cart-list ul .item-row:hover {
	/*background-color: #d54f30;*/
	background-color: #001a57; 
	color: #ffffff;
}

#cart-list ul li p, #item-header, #unit-header {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	text-align: center;
	margin: 0 1% 0;
}

#cart-list ul li form, #quantity-header {
	width: 15%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 1.5% 0;
	text-align: center;
}

#total-item-price, #price-header {
	width: 10%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.header-row {
	position: relative;
}

#cart-list ul li input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin: 0;
}

#cart-list ul li .submit {
	display: none;
}

.delete-button {
	padding: 2px;
	color: #dd0000;
}

.delete-button:hover {
	color: #ff0000;
}

@media screen and (max-width: 800px) {
	.cart-dropdown {
		width: 100%;
		height: 100%;
		left: 0%;
	}

	.cart-dropdown > .close_div {
		width: 100%;
	}

	.header-row {
		font-size: 8px;
	}
}